.about{
    text-align: start;
    display: flex;
    justify-content: space-around;
    background: teal;
    padding: 20px;
    height: 650px;
}
.btn3{
    background: hsl(247, 100%, 59%);
    color: #ffffff;
    border: 1px solid #000000;
}
.btn3:hover{
    background:#ffffff;
    color: #000000;
}
.image{
    margin-top: -20px;
    padding: 20px;
}