header {
    background: teal;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li {
    list-style: none;
    /* justify-content: space-around; */    
}
ul{
    display: flex;
    /* margin-top: 30px; */

}
header li{
    justify-content: space-evenly;
    padding-right: 20px;
}
.contact{
    border-radius: 10px;
    /* box-sizing: border-box; */
    height: 30px;
    width: 100px;
    /* margin-top: 25px; */
    background: orange;
    color: black;
    /* box-shadow: none; */
    border: none;
}
.contact:hover{
    background: blue;
    color: white;
}